# this is potluck job file example for upstart
#
# on booting, upstart execute "node run.js [port]", after starting mongodb
#
# at this example,
# node path is "/home/potluck/.nodebrew/current/bin/node",
# run.js path is "/home/potluck/run.js",
# port is 60719

description "Potluck"

start on started mongodb
stop on runlevel [!2345]

console none
respawn
env ORB_URI=mongodb://localhost/potluck
export ORB_URI
exec /home/potluck/.nodebrew/current/bin/node /home/potluck/potluck/run.js 60719
