h1 {
  font-size: 130%;
  margin: 0.5em 0 0.2em 0;
}
h2 {font-size: 110%;}
h3 {font-size: 105%;}

article {
  margin: 0.5em;
  padding: 0.5em;
}
article.link {border: solid 1px #000;}
article.comment {
  font-size: 90%;
  border-bottom: dashed 1px #000;
}

div {
  margin: 0.2em 0 0.2em 1em;
}
div.comment {
  font-size: 120%;
  margin: 0.5em 0.5em 0.5em 1.5em;
}
div#links {
  margin: 0;
  padding: 0;
}

blockquote {
  background: #ddd;
  padding: 0.2em 0.5em 0.2em 1em;
  margin: 0.5em;
}

ul#form {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1em;
}
li {margin: 0.2em 0 0.2em 0;}
label {
  display: block;
}
input {width: 480px;}
textarea {width: 480px;}
